
@{
    ViewBag.Title = "_AuthLayout";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="1055603051371-2jqkde607gmb1r54ltq67vtn0ufmrpij.apps.googleusercontent.com">

    <!-- Twitter -->
    <meta name="twitter:site" content=@("@themepixels")>
    <meta name="twitter:creator" content=@("@themepixels")>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Shamcey">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/shamcey/img/shamcey-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/shamcey">
    <meta property="og:title" content="Shamcey">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/shamcey/img/shamcey-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/shamcey/img/shamcey-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">


    <title>Shamcey Responsive Bootstrap 4 Admin Template</title>

    <!-- Vendor css -->
    <link href="~/content/asset/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/content/asset/lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Shamcey CSS -->
    <link rel="stylesheet" href="~/content/asset/css/shamcey.css">

    @RenderSection("styles", false)


</head>

<body class="bg-gray-900">


    @RenderBody()

    <script src="~/content/asset/lib/jquery/jquery.js"></script>
    <script src="~/content/asset/lib/popper.js/popper.js"></script>
    <script src="~/content/asset/lib/bootstrap/bootstrap.js"></script>

    <script src="~/content/asset/js/shamcey.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>


